/************************** SENG513 Final Project ***************************
       _____ ____  _      _               ____   ____   ____  _  __ _____
     / ____/ __ \| |    | |        /\   |  _ \ / __ \ / __ \| |/ // ____|
    | |   | |  | | |    | |       /  \  | |_) | |  | | |  | | ' /| (___
    | |   | |  | | |    | |      / /\ \ |  _ <| |  | | |  | |  <  \___ \
    | |___| |__| | |____| |____ / ____ \| |_) | |__| | |__| | . \ ____) |
    \_____\____/|______|______/_/    \_|____/ \____/ \____/|_|\_|_____/

            ______......-----~~~~~~~--..__   __..--~~~~~~~-----......______
          //   Members:                   `V'                            \\
        //        Jasmine Cronin          |           Ashley Millette    \\
      //       Brandt Davis              |         Siobhan O’Dell        \\
    //     Patrick Matchett             |        Kent Wong               \\
  //_______......------~~~~~~~~--..__  | __..--~~~~~~~~-----......_______\\
//_______..........------~~~~~~...__\ | /__...~~~~~~------........_______\\
===================================\\|//===================================
                                  `----`
                          Created On: 11/03/2020
                        Last revision: 19/04/2020
****************************************************************************/


/******* GENERAL FORMATTING *******/
body{
  height: 100%;
}

.BookshelfPage{
  display: none;
  height: 80vh;
}

.RequestsPage{
  display: none;
  height: 80vh;
}

.AdminPage{
  display: none;
  height: 80vh;
}

/******* HOME FORMATTING *******/

.scrollbar {
position: relative;
height: 75vh;
overflow: auto;
}

.table-scroll-y {
display: block;
}

/******* MAP FORMATTING *******/

.gm-style-iw{
  max-height: 60vh;
  width: 40%;
}

#map{
  height: 80vh;
  width: 100%;
}

/******* LOGIN FORMATTING *******/
#loginLogo{
  width: 100%;
  height: auto;
  max-width: 600px;
}

#loginForm{
  height: 100%;
  width: 100%;
}

/******* BOOKSHELF FORMATTING *******/
.table-hover > tbody > tr:hover {
  background-color:#D3D3D3;
}

/******* CHAT FORMATTING *******/
#message-window {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-height: 50vh;
  margin-bottom: 15px;
}

.form-group{
  width: 100%;
  margin: 5px;
}

#messages li:nth-child(odd) {
  /*background: #eee;*/
}

#bookStateGroup{
  margin: 10px;
}

#chat-view-window {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-height: 80vh;
}

/******* ADMIN FORMATTING*******/

#admin-message-window {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  max-height: 73vh;
  margin-bottom: 15px;
}
